@import '../../styles/settings/colors';

.container {
  display: flex;
  justify-content: flex-end;
}

.button {
  min-width: 80px;
  margin: 10px 20px;

  &:hover {
    background-color: $color-good-border;
    opacity: 0.5;
  }
}

.selected {
  background-color: $color-good-border;

  &:hover {
    opacity: 1,
  }
}
