@import '../../styles/settings/colors';

$animation-time: 350ms;

.flag {
  max-width: 360px;
}

.container {
  display: flex;
  flex: 1;
  background-color: $color-light-grey;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.input {
  width: 100%;
}

.rowContainer {
  width: 60%;
  overflow-y: scroll;
  height: calc(100vh - 68px*2);
}

.listEmpty {
  display: flex;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.entering {
  transition: all ease-in-out $animation-time;
  animation: showList $animation-time ease-in-out;
}

.exiting {
  transition: all ease-in-out $animation-time;
  animation: hideList $animation-time ease-in-out;
}

@keyframes showList {
  from {
    height: 0px;
  }
  to {
    height: calc(100vh - 68px*2)
  }
}

@keyframes hideList {
  from {
    height: calc(100vh - 68px*2)
  }
  to {
    height: 100px;
  }
}
